<!-- <ul class="list-group">
  <jhi-user (onDelete)="this.deleteUser$.next($event)" class="list-group-item" *ngFor="let user of this.users" [user]="user">
  </jhi-user>
</ul> -->

<table class="table table-striped">
  <thead>
  <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
      <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
      <th jhiSortBy="login"><span jhiTranslate="userManagement.login">Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
      <th jhiSortBy="email"><span jhiTranslate="userManagement.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
      <th></th>
      <th jhiSortBy="langKey"> <span jhiTranslate="userManagement.langKey">Lang Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
      <th><span jhiTranslate="userManagement.profiles">Profiles</span></th>
      <th jhiSortBy="createdDate"><span jhiTranslate="userManagement.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
      <th jhiSortBy="lastModifiedBy"><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
      <th jhiSortBy="lastModifiedDate"><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
      <th></th>
  </tr>
  </thead>
  <tbody *ngIf ="users">
  <tr jhi-user *ngFor="let user of users; trackBy: track" [user]="user"></tr>
  </tbody>
</table>

<ng-template #confirmation>
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.ngModalRef.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="deleteUser$ | async as user" jhiTranslate="userManagement.delete.question" translateValues="{login: '{{user.login}}'}">Are
      you sure you want to delete this User?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="this.ngModalRef.dismiss('cancel')">
      <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
    <button type="submit" class="btn btn-danger" (click)="this.ngModalRef.dismiss('delete')">
      <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</ng-template>